<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="css/estilos.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Vital Care</title>
</head>
<body>
    <header class="header">
        <div class="logo">
        <h3 class="icon-health"><a href="/" id="logo">Centro Médico Vital Care</a></h3>
        </div>
        <nav>
            <ul class="nav-links">
                 <li><a href="/formdoctores">Doctores</a></li>
                 <li><a href="/formpacientes">Pacientes</a></li>
                 <li><a href="/formcitas">Citas</a></li>
                 <li><a href="/paglistas">Listas</a></li>
            </ul>            
         </nav>
    </header>
    <main>
        <form class="forms" id="formsdoc" action="/actualizardoc" method="post">
            <h3>Formulario actualizar información doctores</h3>
            
            <!--Nombre doctores-->
                <div class="formulariogrupo" id="grupo__nombredoc">
                    <label for="nombredoc" class="formlabel">Nombre:</label>
                        <div class="groupinput">
                            <input class="forminput" name="nombredoc" id="nombredoc" type="text" value="<%= doctor.Nombre %>" placeholder="Ingrese su nombre">
                            <i class="formvalestado fa-solid fa-circle-xmark"></i>
                        </div>
                        <p class="forminputerror">El nombre solo puede contener letras</p>
                </div>
                
            <!--Apellido doctores-->
            <div class="formulariogrupo" id="grupo__apellidodoc">
                <label for="apellidodoc" class="formlabel">Apellido:</label>
                    <div class="groupinput">
                        <input class="forminput" name="apellidodoc" id="apellidodoc" type="text" value="<%= doctor.Apellido %>" placeholder="Ingrese su nombre">
                        <i class="formvalestado fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="forminputerror">El apellido solo puede contener letras</p>
            </div>

            <!--Cedula doctores-->
            <div class="formulariogrupo" id="grupo__ceduladoc">
                <label for="ceduladoc" class="formlabel">Cédula:</label>
                    <div class="groupinput">
                        <input class="forminput" name="ceduladoc" id="ceduladoc" type="number" value="<%= doctor.Cedula %>" placeholder="Ingrese su nombre">
                        <i class="formvalestado fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="forminputerror">La cédula solo puede contener de 7 a 10 digitos sin espacios ni puntos</p>
            </div> 
            
            <!--Especialidad doctores-->
            <div class="formulariogrupo" id="grup__especialidaddoc">
                <label for="especialidaddoc" class="formlabel">Especialidad:</label>
                    <div class="groupinput">
                        <select name="especialidaddoc" id="especialidaddoc" class="especialidad" >
                            <option <%= doctor.Especialidad=="Medicina general" ? "selected" : "" %> value="Medicina general">Medicina General</option>
                            <option <%= doctor.Especialidad=="Cardiología" ? "selected" : "" %> value="Cardiología">Cardiología</option>
                            <option <%= doctor.Especialidad=="Medicina interna" ? "selected" : "" %> value="Medicina interna">Medicina Interna</option>
                            <option <%= doctor.Especialidad=="Dermatología" ? "selected" : "" %> value="Dermatología">Dermatología</option>
                            <option <%= doctor.Especialidad=="Rehabilitación Física" ? "selected" : "" %> value="Rehabilitación Física">Rehabilitación Física</option>
                            <option <%= doctor.Especialidad=="Psicología" ? "selected" : "" %> value="Psicología">Psicología</option>
                            <option <%= doctor.Especialidad=="Odontología" ? "selected" : "" %> value="Odontología">Odontología</option>
                            <option <%= doctor.Especialidad=="Radiología" ? "selected" : "" %> value="Radiología">Radiología</option>
                        </select>
                    </div>
            </div>


            <!--Consultorio doctores-->
            <div class="formulariogrupo" id="grupo__consultoriodoc">
                <label for="consultoriodoc" class="formlabel">Consultorio:</label>
                    <div class="groupinput">
                        <input class="forminput" name="consultoriodoc" id="consultoriodoc" type="number" value="<%= doctor.Consultorio %>" placeholder="Ingrese su nombre">
                        <i class="formvalestado fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="forminputerror">El consultorio debe contener 3 números</p>
            </div>

            <!--Email doctores-->
            <div class="formulariogrupo" id="grupo__emaildoc">
                <label for="emaildoc" class="formlabel">Correo Electronico:</label>
                    <div class="groupinput">
                        <input class="forminput" name="emaildoc" id="emaildoc" type="email" value="<%= doctor.Email %>" placeholder="Ingrese su correo eléctronico">
                        <i class="formvalestado fa-solid fa-circle-xmark"></i>
                    </div>
                    <p class="forminputerror">El correo electrónico debe contener un @</p>
            </div>

            <!--Mensaje doctores-->
            <div class="formmessage" id="formmessagedoc">
                <p><i class="fa-solid fa-triangle-exclamation"></i> <b>Error</b> Por favor llene el formulario correctamente</p>
            </div>

            <!--boton doctores-->
            <div class="formulariogrupo formulariogrupobtnenviar">
                <button type="submit" class="formulariobtn" id="formmensexitodoc">Actualizar</button>
            </div>
        </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>